h1 {
    font-size: 60px;
    color: white;
   }
header {
     background-color: rgb(75, 74, 74);
     text-align: center;
   }
body {

    font-family: 'Poppins', sans-serif;
}
p {
    color: black;
    font-family: 'Poppins', sans-serif;
  }

h2 {

    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.bio {
    text-align: center;
}
.container {
    width: 100%;
    margin: 0 auto;
}


/* .clearfix::after {
	content: ” “;
    display: block;
    clear: both;
}  */
img {
    width: 350px;
    height: auto;
    align-content: center;
}

/* .name-image {
    width: 50%;
    float: left;  
}

.bio {
    width: 50%;
    float: left;
} */

/* .contact-info {
    width: 33%;
    float: left;
} */
